.customNode {
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #7ad4f3;
  position: relative;
  width: 80px;
  height: auto;
}

.nodeContent {
  font-size: 12px;
}

.dialog {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
}

.configButton {
  margin-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.clock {
  text-align: center;
  padding: 10px;
}

.clockFace {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto 10px;
  background: white;
  transform: rotate(-90deg);
}

.clockHand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 50%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.hourHand {
  height: 2%; 
  width: 40%;
  background: black;
}

.minuteHand {
  height: 2%;
  width: 50%;
  background: black;
}

.secondHand {
  height: 5%;
  width: 50%;
  background: red; 
}

.calender {
  padding: 0;
}

.calenderFace {
  position: relative;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
}

.booleanNode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.polylineNode {
 text-align: center;
 font-weight: bold; 
}

.unitVectorNode {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.unitVectorNode button {
  margin: 5px;
  width: 100%;
}

.xyPlaneNode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distanceNode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colourNode {
  display: flex;
  flex-direction: coloumn;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size : 10px;
}

.colourNode table {
  width: 100%;
}

.colourNode td {
  padding: 2px 5px;
}